<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/navbar %>
    <div class="px-3">
      <section>
        <!-- Project -->
        <div class="card px-3 py-3">
          <table
            class="table is-fullwidth has-text-centered"
            id="projects-table"
          >
            <thead>
              <tr>
                <th>ID</th>
                <th>이름</th>
                <th>액션</th>
              </tr>
            </thead>
            <tbody>
              <% for( let unitProject of unitProjects ) { %>
              <tr>
                <td>
                  <%= unitProject.id %>
                </td>
                <td><%= unitProject.name %></td>
                <td>
                  <a
                    href="/admin/unit-project/<%= unitProject.id %>"
                    class="button is-info is-small is-centered"
                  >
                    <i class="fa fa-edit mr-1"></i>수정
                  </a>
                </td>
              </tr>
              <% } %>
            </tbody>
            <tfoot>
              <a
                href="/admin/unit-projects/new"
                class="button is-primary is-pulled-right mr-2 mb-6"
              >
                새로운 단위프로젝트
              </a>
            </tfoot>
          </table>
        </div>
      </section>
    </div>
  </body>
  <script></script>
</html>
